<%- include('includes/auth.ejs') %>
              <a href="/login">
               <button type="submit" class="btn btn-primary" style="display:block; margin: auto;">Login</button>   
              </a>
         </form>
    </div>
</body>
</html>