<%- include('includes/auth.ejs') %>
<div class="mb-3 w-50 m-auto">
    <label for="confirmpassword" class="form-label">Confirm Password</label>
    <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" >
  </div>
    <button type="submit" class="btn btn-primary" style="display:block; margin: auto;">Sign Up</button>   
         </form>
    </div>
</body>
</html>